body{
    margin: 20px!important;
 }

.row {
    border: 2px red solid;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

 .wrapper{
     margin: 0 auto; 
     width: 700px; 
     text-align: center; 
      
 }
 .finish-section{
     margin: 0 auto; 
     width: 900px; 
     visibility: hidden;
 }
 
 .final-page{
 
     margin: 0 auto; 
     width: 900px; 
     visibility: hidden;
  }
 
 .all_btn{
     background: rgb(63, 139, 0); 
     padding: 10px;
     margin: 10px;
     width: 30%; 
     border: 1px solid orange;
     border-radius: 5px;
     color: blue;   
     font-size: 1.em;
     text-align: center;
 }

 .myBtn{
    background: rgb(63, 139, 0); 
     padding: 10px;
     margin: 10px; 
     border: 1px solid orange;
     border-radius: 5px;
     color: blue;   
     font-size: 1.em;
 }
 
 button{
    background: rgb(63, 139, 0);
    border: 2px blue solid;
    display: flex;
    align-items: center;
 }
 
 @media only screen 
 and (min-width:320px) 
 and (max-width:540px) {
 
    .all_btn{
        background: rgb(63, 139, 0); 
        padding: 10px;
        margin: 10px;
        width: 30%; 
        border: 1px solid orange;
        border-radius: 5px;
        color: blue;   
        font-size: 1.em;
        text-align: center;
    }
     
     .wrapper{
         margin: 0px;
         text-align: justify;
         word-wrap: break-word;
         width: 100%;
     }
 
     h2{
         text-align: left;
     }
 
     .finish-section{
         margin: 0px; 
         width: 100%; 
         visibility: hidden;
     }
     
     .final-page{
         margin: 0px; 
         width: 100%; 
         visibility: hidden;
      }
 }